.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 400px;
}

.error {
  color: red;
}